* {
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    max-width: 800px;
    margin-inline: auto;
}

h1 {
    text-align: center;
}

.headline {
    text-align: center;
    color: #555;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.text-link {
    color: #555;
    text-decoration: underline;
    text-underline-offset: 3px;
    transition: color 0.2s ease;
}

.text-link:hover {
    color: black;
    text-decoration-color: black;
}
.social-container {
    display: flex;
    gap: 1.5em;
}

.social-link {
    line-height: 0;
    transition: color 0.2s ease;
}

.social-link-github {
    color: #181717;
}

.social-link-github:hover {
    color: #6e5494;
}

.social-link-linkedin {
    color: #0A66C2;
}

.social-link-linkedin:hover {
    color: #004182;
}